.CalendarBox {
    width:154px;
    border:1px solid #99BBE8;
    background:#DFE8F6;
    color:#264390;

    scrollbar-face-color: #ABC7EC; 
    scrollbar-highlight-color: #D8E4F5; 
    scrollbar-shadow-color: #8EB4E6; 
    scrollbar-3dlight-color: #D8E4F5; 
    scrollbar-arrow-color: #264390; 
    scrollbar-track-color: #EBF2FC;
    scrollbar-darkshadow-color: #D8E4F5; 
    scrollbar-base-color: #fef6ea;
}
.CalendarBox div {
    padding:0px;
    margin:0px;
    text-align:center;
    cursor:default;
	font:normal 10px Arial;
}
.CalendarBox .header {
    background:#DFE8F6 url(../images/calendar.gif) repeat-x;
	height:29px;
}
.CalendarBox .headTop {
    display:block;
}
.CalendarBox .headTop div {
    float:left;
}
.CalendarBox .headBottom {
    display:block;
}
.CalendarBox .headDes {
    width:124px;
}
.CalendarBox .headDes A {
    color:#264390;
    text-decoration:none;
}
.CalendarBox .previewMonthButton {
    width:15px;
    height:15px;
    cursor:hand;
    cursor:pointer;
    background:url(../images/calendar.gif) 0px -45px no-repeat;
}
.CalendarBox .nextMonthButton {
    width:15px;
    height:15px;
    cursor:hand;
    cursor:pointer;
    background:url(../images/calendar.gif) 0px -60px no-repeat;
}
.CalendarBox .week {
    width:22px;
	float:left;
}
.CalendarBox .week_end {
    width:22px;
	float:left;
	color:red;
}
.CalendarBox .body {
    height:132px;
    overflow:hidden;
}
.CalendarBox .OtherMonthDate {
    width:20px;
    height:17px;
    border-width:1px 1px 1px 1px;
    border-style:solid solid solid solid;
    border-color:#E9F3FE #8BB1E4 #8BB1E4 #E9F3FE;
    background:#DFE8F6;
    color:#AFB0B1;
    padding:3px 0px 0px 0px;
	float:left;
}
.CalendarBox .CurMonthDate {
    width:20px;
    height:17px;
    border-width:1px 1px 1px 1px;
    border-style:solid solid solid solid;
    border-color:#E9F3FE #8BB1E4 #8BB1E4 #E9F3FE;
    background:#CFE4FB;
    color:#264390;
    padding:3px 0px 0px 0px;
	float:left;
}
.CalendarBox .Today {
    width:20px;
    height:17px;
    border:1px solid #261170;
    background:url(../images/calendar.gif) 0px -93px repeat-x;
    color:#FFF;
    padding:3px 0px 0px 0px;
	float:left;
}
.CalendarBox .selectLayer {
    background:#DFE8F6;
    border:1px solid #99BBE8;
    overflow:hidden;
	position:absolute;
	left:-1px;
	top:-1px;
	width:154px;
	height:1px;
}
.CalendarBox .selectLayer .selectLayerLeft {
    width:92px;
    height:140px;
    overflow:auto;
    border-right:1px solid #99BBE8;
	float:left
}
.CalendarBox .selectLayer .item {
    height:16px;
    overflow:hidden;
    display:block;
    text-align:left;
    padding-left:3px;
}
.CalendarBox .selectLayer .itemHighLight {
    height:16px;
    overflow:hidden;
    display:block;
    color:#FFF;
    text-align:left;
    padding-left:3px;
    border:1px solid #261170;
    background:url(../images/calendar.gif) 0px -98px repeat-x;
}
.CalendarBox .selectLayer .selectLayerRight {
    width:60px;
    height:140px;
    overflow:auto;
	float:left;
}
.CalendarBox .selectLayer .selectLayerBottom {
    width:154px;
    border-top:1px solid #99BBE8;
    float:left;
    padding-top:4px;	
}
.CalendarBox .selectLayer .selectLayerBottom .selectLayerBT {
    display:inline;
    height:14px;
    background:#ABC7EC;
    border:1px solid #99BBE8;
    margin:0px 2px 0px 2px;
}