body {
    margin:0px;
    padding:0px;
    background:#000;
    text-align:center;
    width:100%;
    height:100%;
    overflow:hidden;
}
* {
    font:normal 11px Verdana,宋体;
}
div {
    cursor:default;
}
.banner {
    background:url(core/sliderPicShow/images/bg.jpg) repeat-x;
    height:21px;
    font:normal 11px Arial,宋体;
    color:#FFF;
    text-align:left;
    padding-left:10px;
    cursor:default;
}
.folderDiv {
    height:330px;
    width:100%;
    overflow:auto;
}
.singleFolder {
    float:left;
    width:82px;
    height:102px;
    *width:80px;
    *height:100px;
    margin:3px;
}
.singleFolder .pic {
    background:url(images/imgFolder.jpg) no-repeat;
    width:80px;
    height:80px;
    border:1px solid #000;
}
.singleFolder .picOver {
    background:url(images/imgFolder.jpg) no-repeat;
    width:80px;
    height:80px;
    border-width:1px 1px 1px 1px;
    border-style:solid solid solid solid;
    border-color:#525252 #282828 #282828 #525252;
}
.singleFolder .picDown {
    background:url(images/imgFolder.jpg) no-repeat;
    width:80px;
    height:80px;
    border-width:1px 1px 1px 1px;
    border-style:solid solid solid solid;
    border-color:#282828 #525252 #525252 #282828;
}
.singleFolder .picFocus {
    background:url(images/imgFolder.jpg) no-repeat 0px -80px;
    width:80px;
    height:80px;
    border-width:1px 1px 1px 1px;
    border-style:solid solid solid solid;
    border-color:#282828 #525252 #525252 #282828;
}
.singleFolder .title {
    width:82px;
    *width:80px;
    height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor:default;
    padding-top:2px;
    color:#C3C3C3;
    font:normal 12px simsun;
}
.contrlDiv {
    display:inline-block;
    position:absolute;
    left:0px;
    bottom:33px;
    width:100%;
}
.pageDiv {
    background:url(images/bg.jpg) repeat-x;
    height:21px;
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
}

#pageDiv {
    cursor:default;
    padding-top:2px;
}
#pageDiv span {
    display:inline-block;
    width:16px;
    height:16px;
    font:normal 10px Webdings;
    cursor:pointer;
    color:#C3C3C3;
    background:url(images/page.gif) no-repeat;
}
#pageCount {
    font:normal 10px Verdana;
    display:inline-block;
    *display:inline;

    position:relative;
    left:0px;
    top:-4px;
    *top:0px;
    color:#999;
}

.maxImgDiv {
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:9999;
    background:#000;
    padding-top:5px;
}
.maxImgDiv .imgBox {
    padding:5px;
    background:#A0A0A0;
    display:inline-block;
    border:1px solid #E3E3E3;
    *display:inline;
}
.maxImgInfoDiv {
    font:normal 12px Verdana,宋体;
    overflow:hidden;
    text-overflow:ellipsis;
    padding:3px;
    word-break:break-all;
}
.undoDiv {
    width:16px;
    height:16px;
    background:url(images/back.gif) no-repeat;
    cursor:pointer;
    float:right;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity:0.9;
    margin:10px 2px 0px 0px;
}

.splitDiv {
    height:2px;
    background:url(images/split.gif);
    font-size:1px;
}

.demo {
    float:right;
    margin:4px 5px 0px 0px;
    cursor:default;
}
.demo A {
    text-decoration:none;
    color:#999;
    font:normal 10px Verdana;
}
.demo A:hover {
    text-decoration:underline;
    color:#ccc;
    font:normal 10px Verdana;
}