.macButton {
	cursor:default;
	background:-webkit-gradient(linear, center top, center bottom, from(rgba(159, 6, 2, 1)), color-stop(.7, rgba(117, 5, 2, 1)), to(rgba(61, 3, 2, 1)));
	border:1px solid rgba(0, 0, 0, 1);
	border-radius: 5px;
	text-align:center;
	line-height:25px;
	box-shadow:0 1px 1px rgba(250, 49, 44, 1);
	color:#FFF;
	text-shadow:0 -1px rgba(0, 0, 0, .8);
	min-width: 30px;
}
.macButton span {
	width: 16px;
	height: 16px;
	display: inline-block;
	background:url(../images/shoelace.png) 0 0 no-repeat;
	margin:4px auto auto auto;
}
.macButton.down {
	background:-webkit-gradient(linear, center top, center bottom, from(rgba(125, 2, 0, 1)), color-stop(.7, rgba(67, 2, 1, 1)), to(rgba(60, 2, 1, 1)));
	box-shadow:0 1px 1px rgba(249, 18, 12, .3);
}

/* image icon style */
.macButton .self {
	background-position:-35px -34px;
}

.macButton .all {
	background-position:-1px -34px;
}

.macButton .write {
	background-position:-63px -34px;
}
/* retina icon style */
@media all and (-webkit-min-device-pixel-ratio:2) {
    .macButton span {
    	margin-top:3px;
		width:20px;
		height:20px;
		background:url(../images/shoelace_retina.png) no-repeat;
		-webkit-background-size:500px 500px;
	}
	.macButton .self {
		background-position:-5px -47px;
	}
	.macButton .all {
		background-position:-65px -47px;
	}
	.macButton .write {
		background-position:-37px -47px;
	}
}
